<%- include('./layouts/header.ejs') %>

    <div class="container px-4 ">


        <% if(posts.length>0){
            for(let i=0; i < posts.length; i++ ){ %>
                <div class="row  align-item-ceter my-5 ">
                    <div class="col-lg-7">

                        <% if(posts[i].image !=='undefined' && posts[i].image !=='' ){ %>
                            <img src="<%= posts[i].image %>" alt=""
                            class="img-fluid rounded mb-4 mb-lg-0">
                            <% }else{
                                %>
                                <img src="https://picsum.photos/seed/picsum/500/300" alt=""
                                    class="img-fluid rounded mb-4 mb-lg-0">
                                <%
                             } %>

                                
                    </div>
                    <div class="col-lg-5">
                        <h1 class="font-weight-light">
                            <%= posts[i].title%>
                        </h1>
                        <p>
                            <%= posts[i].content%>
                        </p>
                        <a href="/post/<%= posts[i]._id %>" class="btn btn-primary">Read more</a>
                    </div>
                </div>

                <% } }else{ %>
                    <h1 class="alert-danger mt-4 px-5">Posts not avaliable!!</h1>
                    <% } %>



    </div>
    <%- include('./layouts/footer.ejs') %>